<div class="alert alert-warning fade in">
    <button type="button" class="close" data-trigger="nix" data-nix-options="'target': '!div.alert'">×</button>
    <h4>{{lang "welcome.title"}}</h4>
    <div class="controls">
        <p>
        {{#if Browser.Features.notifications}}
            {{lang "welcome.enableNotificationMessage"}} <a class="enable-notifications btn btn-danger btn-small" href="#">{{lang "welcome.enableNotifications"}}</a>
        {{else}}
            <strong>{{lang "welcome.noNotificationSupport"}}</strong> {{lang "welcome.considerThis"}}
            {{#if Browser.ie}} <a href="http://www.google.com/chromeframe/?prefersystemlevel=true" target="_blank">{{lang "welcome.chromeFrame"}}</a>
            <br />
            <a href="http://manolocarrasco.blogspot.ca/2011/06/enabling-desktop-notifications-in-ie.html" target="_blank">{{lang "welcome.chromeFrameTut"}}</a></strong>
            {{else}}
            {{#if Browser.firefox}} <a href="https://addons.mozilla.org/en-US/firefox/addon/tab-notifier/" target="_blank">{{lang "welcome.ffExtension"}}</a>
            {{else}}{{! http://caniuse.com/notifications }}
            <a href="http://browsehappy.com/?locale=en">{{lang "welcome.browseHappy"}}</a><a href="http://caniuse.com/notifications" target="_blank">{{lang "welcome.desktopNotifications"}}</a> 
            {{/if}}
            {{/if}}
        {{/if}}
        </p>
    </div>
    {{#if firstvisit}}
    <div class="controls">
        <p>{{lang "welcome.visitOptions"}} <a class="btn btn-default btn-small" href="#!options">{{lang "windowNames.options"}}</a></p>
    </div>
    {{/if}}
</div>