<span class="nick hyperlink-whois" data-user='{{#if userid}}{{{userid}}}{{else}}{{nick}}{{/if}}'>&lt;{{prefix}}
    <span>{{nick}}</span>
    {{#if linkedchannel}}<span class="channel">{{linkedchannel}}</span>{{/if}}&gt;
</span>