<div class="controls">
    <label class="control-inline">{{lang.CUSTOM_NOTICE}}
        <input type="text" class="custom-notice" placehold="{{lang.NOTICE_PLACEHOLDER}}" value="{{text}}">
    </label>
    <label class="checkbox-inline" for="notify_on_pm.beep">{{lang.BEEP}}
        <input type="checkbox" id="notify_on_pm.beep" {{check notify_on_pm.beep}}>
    </label>
    <label class="checkbox-inline" for="notify_on_pm.flash">{{lang.FLASH}}
        <input type="checkbox" id="notify_on_pm.flash" {{check notify_on_pm.flash}}>
    </label>
</div>